/* キャンバス */
.canvastabs {
  background-color: white;
  border: 2px solid black;
  position: relative;
      top: 30px;
      width: 600px;
      height: 530px;
      margin: 0 auto;
}

/*タブのスタイル*/
.canvastab_item {
  width: 100px;
  height: 50px;
  border-bottom: 2px solid black;
  background-color: white;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: black;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.canvastab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="canvastab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.canvastab_content {
  display: none;
  clear: both;
  overflow: hidden;
  position: relative;
    bottom: 480px;
  max-height: 480px;
  max-width: 600px;
  overflow: scroll;
  white-space: nowrap;
}
/* スクロールバーデザイン */
.canvastab_content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.canvastab_content::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}
.canvastab_content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: gray;
}

/*選択されているタブのコンテンツのみを表示*/
#canvas_input1:checked ~ #canvas1_content,
#canvas_input2:checked ~ #canvas2_content,
#canvas_input3:checked ~ #canvas3_content,
#canvas_input4:checked ~ #canvas4_content,
#canvas_input5:checked ~ #canvas5_content{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.canvastabs input:checked + .canvastab_item {
  background-color: gray;
  color: #fff;
}

/* メニューバー */
header{
  position: relative;
      top: 5px;
  border-bottom: 2px solid black;
}
header input{
  margin-bottom: 5px;
}
header .pzoom {
  width: 10px;
}

/* パーツウィンドウ */
/*タブ切り替え全体のスタイル*/
.tabs {
  float: left;
  background-color: white;
  border: 2px solid black;
  width: 300px;
  height: 530px;
  position: relative;
      top: 30px;
}

/*タブのスタイル*/
.tab_item {
  width: 100px;
  height: 50px;
  border-bottom: 2px solid black;
  background-color: white;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: black;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  max-height: 478px;
  overflow: scroll;;
  overflow-x: hidden;
}
/* スクロールバーデザイン */
.tab_content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.tab_content::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}
.tab_content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: gray;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: gray;
  color: #fff;
}
/* 編集ウィンドウ */
#right input{
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/*タブ切り替え全体のスタイル*/
.edittabs {
  float: right;
  background-color: white;
  border: 2px solid black;
  width: 300px;
  height: 530px;
  position: relative;
      top: 30px;
}

/*タブのスタイル*/
.edittab_item {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid black;
  background-color: white;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: black;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.edittab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="edittab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.edittab_content {
  display: none;
  clear: both;
  max-height: 478px;
  overflow: scroll;
  overflow-x: hidden;
}
/* スクロールバーデザイン */
.edittab_content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.edittab_content::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}
.edittab_content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: gray;
}

/*選択されているタブのコンテンツのみを表示*/
#editall:checked ~ #editall_content,
#editprogramming:checked ~ #editprogramming_content{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.edittabs input:checked + .edittab_item {
  background-color: gray;
  color: #fff;
}
/* 共通 */
#top {
  border-bottom: 2px solid black;
  background-color: white;
  color: black;
  padding: 7px;
  font-size: 13px;
  text-align: center;
  margin:0 0 0 0px;
}
#nomal{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: white;
  color: black;
  padding: 7px;
  font-size: 13px;
  text-align: center;
  margin:0 0 0 0px;
}

/* ボタン装飾 */
input,button,select,optgroup,textarea {
  line-height: 10px;
}

input {
  padding: 6px 12px;
  border-radius: 10px;
  color: #495057;
  border: 2px solid #ced4da;
}

img {
  object-fit: cover;
  width: 145px;
  height: 100px;
}