/* キャンバス */
.canvastabs {
  background-color: white;
  border: 2px solid black;
  position: relative;
      top: 30px;
      width: 600px;
      height: 530px;
      margin: 0 auto;
}

/*タブのスタイル*/
.canvastab_item {
  width: 100px;
  height: 50px;
  border-bottom: 2px solid black;
  background-color: white;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: black;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.canvastab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="canvastab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.canvastab_content {
  display: none;
  clear: both;
  overflow: hidden;
  position: relative;
  bottom: 480px;
  max-height: 480px;
  max-width: 600px;
  overflow: scroll;
  white-space: nowrap;
}
/* スクロールバーデザイン */
.canvastab_content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.canvastab_content::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}
.canvastab_content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: gray;
}

/*選択されているタブのコンテンツのみを表示*/
#canvas_input1:checked ~ #canvas1_content,
#canvas_input2:checked ~ #canvas2_content,
#canvas_input3:checked ~ #canvas3_content,
#canvas_input4:checked ~ #canvas4_content,
#canvas_input5:checked ~ #canvas5_content{
  display: block;
}
#canvas_input2,#canvas_label2,
#canvas_input3,#canvas_label3,
#canvas_input4,#canvas_label4,
#canvas_input5,#canvas_label5{
  visibility:hidden;
}

/*選択されているタブのスタイルを変える*/
.canvastabs input:checked + .canvastab_item {
  background-color: gray;
  color: #fff;
}

/* メニューバー */
header{
  position: relative;
      top: 5px;
  border-bottom: 2px solid black;
}
header input{
  margin-bottom: 5px;
}
header .pzoom {
  width: 10px;
}

/* パーツウィンドウ */
/*タブ切り替え全体のスタイル*/
.tabs {
  float: left;
  background-color: white;
  border: 2px solid black;
  width: 300px;
  height: 530px;
  position: relative;
      top: 30px;
}

/*タブのスタイル*/
.tab_item {
  width: 100px;
  height: 50px;
  border-bottom: 2px solid black;
  background-color: white;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: black;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  max-height: 478px;
  overflow: scroll;;
  overflow-x: hidden;
}
/* スクロールバーデザイン */
.tab_content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.tab_content::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}
.tab_content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: gray;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: gray;
  color: #fff;
}

/* 図形 */
/*タブ切り替え全体のスタイル*/
.diagramedittabs {
  float: right;
  background-color: white;
  border: 2px solid black;
  width: 300px;
  height: 530px;
  position: relative;
      top: 30px;
}

.diagramedittabs input{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

/*タブのスタイル*/
.diagramedittab_item {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid black;
  background-color: white;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: black;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.diagramedittab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="diagramedittab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.diagramedittab_content {
  display: none;
  clear: both;
  max-height: 478px;
  overflow: scroll;
  overflow-x: hidden;
}
/* スクロールバーデザイン */
.diagramedittab_content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.diagramedittab_content::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}
.diagramedittab_content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: gray;
}

/*選択されているタブのコンテンツのみを表示*/
#diagramedit:checked ~ #diagramedit_content,
#diagramlink:checked ~ #diagramlink_content{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.diagramedittabs input:checked + .diagramedittab_item {
  background-color: gray;
  color: #fff;
}

/* 機能 */
/*タブ切り替え全体のスタイル*/
.SNSedittabs {
  float: right;
  background-color: white;
  border: 2px solid black;
  width: 300px;
  height: 530px;
  position: relative;
      top: 30px;
}

.SNSedittabs input{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

/*タブのスタイル*/
.SNSedittab_item {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid black;
  background-color: white;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: black;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.SNSedittab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="SNSedittab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.SNSedittab_content {
  display: none;
  clear: both;
  max-height: 478px;
  overflow: scroll;
  overflow-x: hidden;
}
/* スクロールバーデザイン */
.SNSedittab_content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.SNSedittab_content::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}
.SNSedittab_content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: gray;
}

/*選択されているタブのコンテンツのみを表示*/
#SNSedit:checked ~ #SNSedit_content,
#SNStag:checked ~ #SNStag_content{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.SNSedittabs input:checked + .SNSedittab_item {
  background-color: gray;
  color: #fff;
}

/* テキスト */
/*タブ切り替え全体のスタイル*/
.textedittabs {
  float: right;
  background-color: white;
  border: 2px solid black;
  width: 300px;
  height: 530px;
  position: relative;
      top: 30px;
}

.textedittabs input{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

/*タブのスタイル*/
.textedittab_item {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid black;
  background-color: white;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: black;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.textedittab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="textedittab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.textedittab_content {
  display: none;
  clear: both;
  max-height: 478px;
  overflow: scroll;
  overflow-x: hidden;
}
/* スクロールバーデザイン */
.textedittab_content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.textedittab_content::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}
.textedittab_content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: gray;
}

/*選択されているタブのコンテンツのみを表示*/
#textedit:checked ~ #textedit_content,
#textlink:checked ~ #textlink_content{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.textedittabs input:checked + .textedittab_item {
  background-color: gray;
  color: #fff;
}

/* 写真 */
/*タブ切り替え全体のスタイル*/
.imgedittabs {
  float: right;
  background-color: white;
  border: 2px solid black;
  width: 300px;
  height: 530px;
  position: relative;
      top: 30px;
}

.imgedittabs input{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

/*タブのスタイル*/
.imgedittab_item {
  width: 150px;
  height: 50px;
  border-bottom: 2px solid black;
  background-color: white;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: black;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.imgedittab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="imgedittab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.imgedittab_content {
  display: none;
  clear: both;
  max-height: 478px;
  overflow: scroll;
  overflow-x: hidden;
}
/* スクロールバーデザイン */
.imgedittab_content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.imgedittab_content::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}
.imgedittab_content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: gray;
}

/*選択されているタブのコンテンツのみを表示*/
#imgedit:checked ~ #imgedit_content,
#imglink:checked ~ #imglink_content{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.imgedittabs input:checked + .imgedittab_item {
  background-color: gray;
  color: #fff;
}

/* 共通 */
#top {
  border-bottom: 2px solid black;
  background-color: white;
  color: black;
  padding: 7px;
  font-size: 13px;
  text-align: center;
  margin:0 0 0 0px;
}
#nomal{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: white;
  color: black;
  padding: 7px;
  font-size: 13px;
  text-align: center;
  margin:0 0 0 0px;
}

/* ボタン装飾 */
input,button,select,optgroup,textarea {
  line-height: 10px;
}

input {
  padding: 6px 12px;
  border-radius: 10px;
  color: #495057;
  border: 2px solid #ced4da;
}

#aaa input{
  padding: 20px 17px;
  border-radius: 10px;
  color: #495057;
  border: 2px solid #ced4da;
}
#aaa input:checked {
  background-color: gray;
  color: #fff;
}

img{
  object-fit: cover;
  width: 48%;
  height: 48%;
}